
.login-form {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin: 20px;
  }

  button {
    margin-top: 10px;
    height: 35px;
    width: 200px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }


}

